using System;
using System.Reflection;
using System.Runtime.CompilerServices;
using System.Runtime.InteropServices;

// General Information about an assembly is controlled through the following 
// set of attributes. Change these attribute values to modify the information
// associated with an assembly.
[assembly: AssemblyTitle("Google Translate API")]
[assembly: AssemblyDescription("")]
[assembly: AssemblyConfiguration("")]
[assembly: AssemblyCompany("iron9light")]
[assembly: AssemblyProduct("Google Translate API")]
[assembly: AssemblyCopyright("Copyright © iron9light 2008")]
[assembly: AssemblyTrademark("")]
[assembly: AssemblyCulture("")]

[assembly: InternalsVisibleTo("GoogleTranslateAPI.Test, PublicKey=0024000004800000940000000602000000240000525341310004000001000100213e7a5763c60d310af4265a0cc8dd123677b6606385dc3f35c9f61221c5dddeaac6d23800a7cf7521f3e890458e44aabf5973bfcaced970ddfd23a1b7f297db5e5499e9dd121a26bed422efa0f89dad59056d87205f2773c46315dafe911c68f4056e75c5ca8754fc37bb48a8e4952db1e2b9afbc77f308f4283352593a52c7")]
[assembly: CLSCompliant(true)]

// Setting ComVisible to false makes the types in this assembly not visible 
// to COM components.  If you need to access a type in this assembly from 
// COM, set the ComVisible attribute to true on that type.
[assembly: ComVisible(false)]

// The following GUID is for the ID of the typelib if this project is exposed to COM
[assembly: Guid("3579e024-c89a-439c-bb6d-ef7701a4810a")]

// Version information for an assembly consists of the following four values:
//
//      Major Version
//      Minor Version 
//      Build Number
//      Revision
//
// You can specify all the values or you can default the Build and Revision Numbers 
// by using the '*' as shown below:
// [assembly: AssemblyVersion("1.0.*")]
[assembly: AssemblyVersion("0.3.0.$WCREV$")]
[assembly: AssemblyFileVersion("0.3.0.$WCREV$")]
